<!DOCTYPE html>
<html>
    <div style="text-align:center">
        <h1 style="font-family:cursive;">Diabeties Prediction</h1>
        <br><br>
    
      <body style="background-color: rgb(30, 27, 27) "text='yellow'>

        <form action="/submit" method="post">
            <label  style="font-family:cursive" for="pregnancies">Pregnancies:</label><br>
            <input type="text" id="pregnancies" name="pregnancies" value="0"><br><br>
        
            <label style="font-family:cursive" for="glucose">Glucose:</label><br>
            <input type="text" id="glucose" name="glucose" value="0"><br><br>
        
            <label style="font-family:cursive" for="bloodpressure">BloodPressure:</label><br>
            <input type="text" id="bloodpressure" name="bloodpressure" value="0"><br><br>
        
            <label  style="font-family:cursive"for="skinthickness">SkinThickness:</label><br>
            <input type="text" id="skinthickness" name="skinthickness" value="0"><br><br>

            <label style="font-family:cursive" for="insulin">Insulin:</label><br>
            <input type="text" id="insulin" name="insulin" value="0"><br><br>

            <label  style="font-family:cursive"for="bmi">BMI:</label><br>
            <input type="text" id="bmi" name="bmi" value="0"><br><br>

            <label style="font-family:cursive" for="DiabetesPedigreeFunction">DiabetesPedigreeFunction:</label><br>
            <input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" value="0"><br><br>

            <label style="font-family:cursive" for="Age">Age:</label><br>
            <input type="text" id="Age" name="Age" value="0"><br><br><br>
        
            <input style="font-size: larger ; background-color: rgb(80, 213, 213); font-family:cursive"  type="submit"  value="Predict"><br>
    
 

      </body>
    </div>
  
</html>